<!DOCTYPE html>
<html>

<head>
    <script src="../../../angular.min.js"></script>
    <script src="./index.js"></script>
    <link rel="stylesheet" type="text/css" href="./style.css"/>
    <meta charset="utf-8">
</head>

<body ng-app="anchorScrollExample">
    <div class="fixed-header" ng-controller="headerCtrl">
        <a href="" ng-click="gotoAnchor(x)" ng-repeat="x in [1,2,3,4,5]">
            Go to anchor {{x}}
        </a>
    </div>
    <div id="anchor{{x}}" class="anchor" ng-repeat="x in [1,2,3,4,5]">
        Anchor {{x}} of 5
    </div>
</body>

</html>